/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


nav {
  overflow: auto;
  padding: 17px 40px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

nav li {
  float: right;
  font-family: 'Open Sans', sans-serif;
  margin: -10px 10px 0 10px;
  text-transform: uppercase;
  color: white;
}

nav .menu {
  color: #FFF;
  text-decoration: none;
}

h1 {
  color: transparent;
}

.logo {
  width: 22px;
  float: left;
  margin: 0;
  margin-top: -21px;
}

.hero {
  background-image: url('http://jesseshowalter.com/assets/images/jesse-jump.jpg');
  background-size: cover;
  background-position: top;
  position: relative;
  height: 700px;
  z-index: 1;
}

.hero:after {
  content: '';
  background-color: rgba(2,15,23,.55);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.hero-message {
  color: white;
  text-align: center;
  padding-top: 150px;
  width: 70%;
  margin: 0 auto;
}

.hero-message h1 {
  color: white;
  font-size: 3.2em;
  padding-top: 40px;
  line-height: 1.1em;
	text-transform: uppercase;
	font-family: 'Merriweather' ,serif;
	font-weight: 100;
}

.hero-message p {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.3em;
  line-height: 1.5em;
  margin: 20px 0;
  padding-bottom: 30px;
	font-weight: 100;

}

.hero-message a {
  border: 3px solid rgba(224, 203, 119, 1.0);
  padding: 15px 60px;
  border-radius: 2px;
  color: white;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
}

.hero-message a:hover {
  background-color: rgba(224, 203, 119, 1.0);
  color: rgba(134, 113, 31, 1.0);
}


.recent-projects {
  padding: 50px 60px;
  overflow: auto;
	max-width: 1300px;
	margin: 0 auto;
}

.project {
	text-align: center;
	float: left;
	margin: 0 2% 50px 2%;
	width: 29.333333%;
}

.project h3 {
	color: rgba(49, 149, 194, 1.0);
	margin: 20px 0;
	line-height: 2em;
	font-size: 1.7em;
	font-family: 'Merriweather', serif;
	font-weight: 300;
}

.project p {
	font-family: 'Open Sans', sans-serif;
	color: rgba(132, 146, 166, 1.0);
	margin: 20px;
	font-style: italic;
	line-height: 1.1em;
	font-weight: 300;
	font-size: 1.2em;
}

 .project img {
	 max-width: 95%;
 }

@media (max-width: 920px) {
	.project {
	width: 46%;
	float: left;
	}
}

@media (max-width: 650px) {
	.project {
		float: none;
		width: 96%;
	}
}

.story {
  background-color: rgba(110, 117, 121, 1.0);
  padding: 50px;
}

.story-details {
  border: 1px solid yellow;
  height: 400px;
  width: 50%;
}

.what-i-do {
  overflow: auto;
  width: 90%;
  margin: 0 auto;
	padding: 50px;
}

.particular-thing {
  width: 25%;
  float: left;
	text-align: center;
}

.particular-thing img {
	max-width: 35%;
	margin: 30px 1%;
}

.particular-thing h3 {
	font-family: 'Merriweather',serif;
	font-size: 1.7em;
	font-weight: 700;
	line-height: 3em;
}

.particular-thing p {
	font-family: 'Open Sans', sans-serif;
	font-size: 1.3em;
	line-height: 1.6em;
	padding: 0 30px;
	font-weight: 100;
}

@media (max-width: 920px) {
	.particular-thing {
		width: 48%;
		float: left;
	}
}

@media (max-width: 600px) {
	.particular-thing {
		width: 98%;
		float: none;
	}
}

.quote {
  width: 90%;
  margin: 0 auto;
  height: 200px;
	text-align: center;
	font-family: "Open Sans", sans-serif;
	font-size: 1.3em;
	padding-top: 60px;
	line-height: 2.6em;
	font-style: italic;
	border-top: 1px dashed #bec6d0;
}

.post {
  width: 90%;
  margin: 0 auto;
  overflow: auto;
  padding: 20px 10px;
}

.article-post {
  background-color: navy;
  float: left;
  width: 50%;
  height: 150px;
  outline: 1px solid black;
}

.social {
  overflow: auto;
}

.social-media {
  width: 25%;
  float: left;
  outline: 1px solid brown;
  height: 250px;
  background: blue;
}
