/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
  margin: 0 auto;
  width: 62%;
  background-color: black;
}

.body-background {
	width: 100%;
	margin: 0 auto;
	background-color: white;
}

.header img {
	margin-top: -15px;
	display: block;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

.hero {
	width: 40%;
	display: block;
	margin: 10px auto;
}

.publish {
	width: 20%;
	margin: 0 auto;
  overflow: auto;
	padding-top: 20px;
}

.new {
	border-radius: 5px;
	background-color: rgba(187, 56, 37, 1.0);
	text-transform: uppercase;
	font-weight: bold;
	font-family: Helvetica;
	text-align: center;
	color: white;
	float: left;
	padding: 3px;
	font-size: 16px;
}

.date {
	font-weight: bold;
  font-family: Helvetica;
  float: left;
  font-size: 17px;
	padding: 3px;
	margin-left: 2px;
}


h2 {
  text-align: center;
  font-family: Helvetica;
  font-weight: bold;
  font-size: 30px;
  line-height: 42px;
	margin-top: 22px;
	margin-bottom: 8px;
}

.title {
  text-align: center;
  font-family: Helvetica;
  line-height: 30px;
  font-size: 15px;
	margin-bottom: 10px;
}

.state {
  font-weight: bold;
  color: blue;
}

.description {
  text-align: justify;
  font-family: Georgia, serif;
  font-size: 20px;
  line-height: 1.4em;
	padding: 0 36px;
	margin-bottom: 66px;
}
